<div class="columns is-variable is-1 is-marginless is-vcentered">
  <div class="column">
    <input class="input"
      type="text"
      [(ngModel)]="activity.title"
      (keyup.enter)="saveChanges()"
      (blur)="saveChanges()">
  </div>
  <div class="column is-narrow">
    <app-project-selector
      [projects]="projects"
      [selectedProjectId]="activity.projectId"
      (selectProject)="selectProject($event)"
      (createNewProject)="createNewProjectClick()"
      (deleteProject)="deleteProjectClick($event)">

    </app-project-selector>
  </div>
  <div class="column is-narrow">
    <app-time-amount
      [intervalSeconds]="intervalSeconds"
      (updateTime)="updateTime($event)"
      (leaveFocus)="saveChanges()">
    </app-time-amount>
  </div>
  <div class="column is-narrow">
    <input [owlDateTime]="dateTimeStart"
      [owlDateTimeTrigger]="dateTimeStart"
      placeholder="Start"
      class="activity-date-input"
      [(ngModel)]="activity.dateTimeStart"
      (ngModelChange)="timeChange()">
    <owl-date-time #dateTimeStart ></owl-date-time>
  </div>
  <div class="column is-narrow">
    <input [owlDateTime]="dateTimeEnd"
      [owlDateTimeTrigger]="dateTimeEnd"
      placeholder="End"
      class="activity-date-input"
      [(ngModel)]="activity.dateTimeEnd"
      (ngModelChange)="timeChange()">
    <owl-date-time #dateTimeEnd ></owl-date-time>
  </div>
</div>
