<div class="activity-container">
  <div class="activity-title-container">
    <input class="activity-title-input"
      type="text"
      [(ngModel)]="activity.title"
      (keyup.enter)="saveChanges()"
      (blur)="saveChanges()">
  </div>

  <div class="activity-project">
    <app-project-selector
      [projects]="projects"
      [selectedProjectId]="activity.projectId"
      (selectProject)="selectProject($event)"
      (createNewProject)="createNewProjectClick()">

    </app-project-selector>
  </div>

  <div class="time-interval-container">
    <app-time-amount
      [intervalSeconds]="intervalSeconds"
      (updateTime)="updateTime($event)"
      (leaveFocus)="saveChanges()">
    </app-time-amount>
  </div>

  <div class="date-range-interval-container">
    <input [owlDateTime]="dateTimeStart"
      [owlDateTimeTrigger]="dateTimeStart"
      placeholder="Start"
      class="activity-date-input"
      [(ngModel)]="activity.dateTimeStart"
      (ngModelChange)="timeChange()">
    <owl-date-time #dateTimeStart ></owl-date-time>

    <input [owlDateTime]="dateTimeEnd"
      [owlDateTimeTrigger]="dateTimeEnd"
      placeholder="End"
      class="activity-date-input"
      [(ngModel)]="activity.dateTimeEnd"
      (ngModelChange)="timeChange()">
    <owl-date-time #dateTimeEnd ></owl-date-time>

  </div>
</div>
