<app-create-activity
  [projects]="projects$ | async"
  (create)="createActivity($event)"
  (createNewProject)="createNewProjectEvent()"
  (deleteProject)="deleteProject($event)">
</app-create-activity>

<p></p>

<app-activities-by-day-list
  [activities]="activities$ | async"
  [projects]="projects$ | async"
  (activityChanged)="activityChanged($event)"
  (deleteActivity)="deleteActivity($event)"
  (createNewProject)="createNewProjectEvent()"
  (deleteProject)="deleteProject($event)">

</app-activities-by-day-list>


<button
    *ngIf="!isLoadingMore"
    (click)="loadMoreActivities()">
  Load more
</button>

<div 
    *ngIf="isLoadingMore"
    class="loading-more-indicator">
  Loading
</div>

<app-popup *ngIf="isCreatingNewProject"
    (ok)="closeNewProjectPopup()"
    (close)="closeNewProjectPopup()">
  <app-create-new-project
    (created)="newProjectCreated($event)">
  </app-create-new-project>
</app-popup>
