<app-editable-activity [activity]="newActivity"></app-editable-activity>
<button (click)="saveActivity()">Save</button>

<p></p>

<app-activities-by-day-list
  [activities]="activities"
  [projects]="projects"
  (activityChanged)="activityChanged($event)"
  (deleteActivity)="deleteActivity($event)">

</app-activities-by-day-list>


<button
    *ngIf="!isLoadingMore"
    (click)="loadMore()">
  Load more
</button>

<div 
    *ngIf="isLoadingMore"
    class="loading-more-indicator">
  Loading
</div>
