.time-amount {
  outline: none;
  border: none;
  cursor: pointer;
  padding: .25em;
  text-align: center;
  width: 5em;

  &.readonly {
    cursor: default;
  }
  
  &:not(.readonly):hover {
    background-color: rgb(200, 200, 200);
    border-radius: .25em;
  }
}
