<div class="list">
  <div class="day" *ngFor="let dayActivities of activitiesByDay">
      {{ dayActivities.dayDate.date }} /
      {{ dayActivities.dayDate.month }} /
      {{ dayActivities.dayDate.year }}
    <div class="activities" >
      <div class="activity-container" *ngFor="let a of dayActivities.activities">
        <div class="activity">
          <app-editable-activity
            [activity]="a"
            [projects]="projects"
            (activityChanged)="listActivityChanged($event)">
          </app-editable-activity>
        </div>
        
        <div class="delete"
          title="Delete"
          (click)="deleteActivityClick(a)">X</div>
      </div>
    </div>
  </div>
</div>
