<div class="list">
  <div class="day" *ngFor="let dayActivities of activitiesByDay">
      {{ dayActivities.dayDate.date }} /
      {{ dayActivities.dayDate.month }} /
      {{ dayActivities.dayDate.year }}
      <app-time-amount
        [intervalSeconds]="dayActivities.totalTimeSeconds"
        [isReadonly]="true">
      </app-time-amount>
    <div class="activities">
      <div class="activity-container"
          *ngFor="let a of dayActivities.activities">
        <div class="activity">
          <app-editable-activity
            [activity]="a"
            [projects]="projects"
            (activityChanged)="listActivityChanged($event)"
            (createNewProject)="createNewProjectEvent()"
            (deleteProject)="deleteProjectEvent($event)">
          </app-editable-activity>
        </div>
        
        <div class="delete">
          <app-delete-icon
            [isDoubleClickRequired]="true"
            (delete)="deleteActivityClick(a)"></app-delete-icon>
        </div>
      </div>
    </div>
  </div>
</div>
