.project-container {
  position: relative;
  padding: 0 .25em;
  min-height: 2em;
  width: 100%;
  overflow-y: hidden;
  display: flex;
  align-items: center;

  &.highlightable:hover {
    background-color: #3273dc;
    color: white;
  }
}

.project {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.circle {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  border-radius: .5em;
  display: inline-block;
}

.name {
  padding-left: .25em;
  flex-grow: 1;
}

.fixed-height .name {
  max-height: 2em;
  overflow-y: hidden;
}

.icon {
  cursor: pointer;

  &:hover {
    color: rgb(201, 201, 201);
  }
}
