<form (ngSubmit)="create()" #loginForm="ngForm">
  <div class="field">
    <label class="label">Name</label>
    <input type="text" class="input" name="name" [(ngModel)]="name"
      #nameInput="ngModel" required>
    <p class="help is-danger" *ngIf="!nameInput.valid && !nameInput.pristine">Workspace name is required</p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button" type="submit"
        [disabled]="!loginForm.form.valid || isLoading">Create</button>
    </div>
    <div class="control">
      <button class="button" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form> 
