<div class="project-select-container" (click)="toggleProjects()">
  <div class="project-select">
    <div class="header">
      <app-project-list-item *ngIf="selectedProject"
        [name]="selectedProject.name" [color]="selectedProject.color" [isFixedHeight]="true">
      </app-project-list-item>
    </div>
    
    <div class="dropdown" *ngIf="isProjectsDropdownShown">
      <app-project-list-item
        [name]="emptyProject.name"
        [color]="emptyProject.color"
        [isHighlightable]="true"
        (click)="projectClick()">
      </app-project-list-item>

      <app-project-list-item
        *ngFor="let p of projects"
        [name]="p.name"
        [color]="p.color"
        [isDeletable]="true"
        [isHighlightable]="true"
        (select)="projectClick(p)"
        (delete)="deleteProjectClick(p)">
      </app-project-list-item>

      <div class="new-project" (click)="createNewProjectClick()">
        <i class="fas fa-plus"></i><span>New project</span>
      </div>
    </div>
  </div>
</div>
