$control-width: 5em;

.create-container {
  width: calc(100% - #{$control-width});
  display: inline-block;
}

.create-by-control {
  width: $control-width;
  display: inline-block;
  vertical-align: top;
}

.control-button {
  width: 100%;
  color: grey;
}

.control-button.selected {
  color: black;
}
