<div class="container">
  <div class="create-container">
    <div [ngSwitch]="createBy">
        <div *ngSwitchCase="'timer'">
          <app-create-activity-with-timer
            [projects]="projects"
            (createActivity)="createActivity($event)"
            (updateActivity)="updateActivity($event)"
            (createNewProject)="createNewProjectEvent()"
            (deleteProject)="deleteProjectEvent($event)">
          </app-create-activity-with-timer>
        </div>
        <div *ngSwitchCase="'manual'">
          <app-create-activity-manual
            [projects]="projects"
            (createActivity)="createActivity($event)"
            (createNewProject)="createNewProjectEvent()"
            (deleteProject)="deleteProjectEvent($event)">
          </app-create-activity-manual>
        </div>
      </div>
  </div>
  <div class="create-by-control">
    <button
        class="control-button"
        (click)="createBy = 'timer'"
        [ngClass]="{ 'selected': createBy === 'timer' }">
      Timer
    </button>
    <button
        class="control-button"
        (click)="createBy = 'manual'"
        [ngClass]="{ 'selected': createBy === 'manual' }">
      Manual
    </button>
  </div>
</div>
