@import 'main';

.columns .column {
  padding: .25em;
}

.icon{
  cursor: pointer;
}

.started {
  color: red;
  
  &:hover {
    color: rgba(255, 37, 37, 0.774);
  }
}

.stopped {
  &:hover {
    color: $icon-hover-color
  }
}
